@model OnlineShopping.Models.CategoryDetails
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .button{
        margin-top:7px;
    }

    .Text{
        margin-top:5px;
    }
</style>

<div class="container-fluid px-4">
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item">Categories</li>
        <li class="breadcrumb-item active">Add New Category</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Add New Category
        </div>
        <div class="card-body">
          
                @using (Html.BeginForm("UpdateCategory", "Admin", new { enctype = "multipart/form-data" }, FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.CategoryId)

                    <div class="form-group">
                        <label class="control-label">Category Name</label>
                        <div class="Text">
                            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control", placeholder = "Enter Category Name", required = "required", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.CategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="button">
                        <a onclick="windows.history.back();" class="btn btn-danger">Cancel</a>
                        <input type="submit" class="btn btn-primary" value="Save" />
                    </div>
                }
        </div>
    </div>
</div>

