@using OnlineShopping.Models.Home
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #order{
        margin-left:400px;
        margin-top:50px;
        margin-bottom:50px;
        font-size:30px;
        color:rebeccapurple;
    }
</style>

<div id="order">
    <strong>Your Order is Confirmed</strong>
</div>

